body {
  background-color: lightgray;
  margin-bottom: 50px;
}

a {
  display: flex;
  text-decoration: none;
  color: #404040;
  font-family: Arial, Helvetica, sans-serif;
}

i {
  color: #404040;
  align-self: center;
}

a:hover {
  display: flex;
  text-shadow:0px 0px 10px black;
}

nav {
  display: flex;
  background-color: lightgray;
}

#myName {
  font-size: 48px;
  font-weight: bold;
}

#myTitle {
  font-size: 24px;
}

ul.horizontal li {
  float: left;
  padding: 18px 16px;
}

.fakeButton {
  display: flex;
  border: 3px solid black;
  margin-left: 50px;
  margin-top: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu>* {
  display: flex;
  flex-basis: fit-content;
  background-color: beige;
}

#mailLink {
  display: flex;
  align-items: center;
}

#headShot {
  position: static;
}

td {
  width: 15%;
}

.icon:hover {
  text-shadow: none;
}